layout {
    gaps 16
    center-focused-column "never"

    background-color "transparent"

    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
        proportion 1.0
    }

    default-column-width { proportion 1.0; }

    struts {}
}
